<div class="app-wrapper">

  <header class="top-nav">
    <div class="nav-left">

      <span class="app-title">Todos</span>


    </div>

    <div class="nav-center">

      <div *ngIf="currentProjectId" class="active-project-tag">
        <!-- Owner {{ projectOwner }}
        List {{ projectList }}
        Project {{ currentProjectId }} -->
      <p>         Project Assignment - Project is assigned to Project Owner.        </p>
      <p>        Project Owner - Task assigned by Project Owner to Task Owner.        </p>
      <p>         Task Owner - Tasks are maintained by Task Owner.      </p>

      
     
      
      </div>
    </div>

    <div class="nav-right">


      <p [routerLink]="['/ProjectList']"
        [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
        routerLinkActive="active">
        <span class="material-icons">list</span>
        <span>Projects</span>
      </p>
    </div>


  </header>


  <!-- <app-todo-summary-table>  </app-todo-summary-table>
<app-project-list> </app-project-list> -->


  <div class="app-container">
    <!-- <aside class="left-menu" [ngClass]="{ 'collapsed': isSidebarCollapsed }"> -->
    <aside class="left-menu" [class.collapsed]="isSidebarCollapsed" (mouseenter)="isSidebarCollapsed = false"
      (mouseleave)="isSidebarCollapsed = true">

      <nav>
        <ul>
          <li [routerLink]="['/project']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">list</span>
            <span *ngIf="!isSidebarCollapsed">Projects Assigned</span>
          </li>

          <!-- <li routerLink="/users" [queryParams]="{ projectId: currentProjectId }" routerLinkActive="active">
            <span class="material-icons">group</span>
            <span>Users</span>
          </li> -->
          <li [routerLink]="['/task']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">list_alt</span>
            <span *ngIf="!isSidebarCollapsed">Project Owner </span>
          </li>


          <li [routerLink]="['/task-owner']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">check_box</span>
            <span *ngIf="!isSidebarCollapsed">Task Owner </span>
          </li>
          <!-- 
                    <li [routerLink]="['/project']"
            [queryParams]="{ projectId: currentProjectId, projectOwner: projectOwner , projectList: projectList }"
            routerLinkActive="active">
            <span class="material-icons">list_alt</span>
            <span *ngIf="!isSidebarCollapsed">Tasks tasks </span>
          </li> -->


        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>