/* Fix the form layout */
.edit-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
  background: #f9f9f9;
}

/* Make Description span the full width */
.description-field {
  grid-column: 1 / -1;
}

/* Make the table as wide as the screen will allow */
.styled-table {
  width: 100%;
}
/* Make the description field as wide as the screen will allow in the table */
.styled-table .description-cell {
  width: 100%;
}
/* Ensure status flag column is not too narrow  status-flag*/
.styled-table .status-flag-cell {
  width: 150px;
}
/* Fix the table spacing */
.styled-table th, .styled-table td {
  padding: 12px;
  border-right: 1px solid #eee; /* Adds separation between columns */
  text-align: left;
}

.styled-table td:last-child {
  border-right: none;
}

.styled-table tbody tr:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
}